*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#0d47a1;
  min-height:100vh;
  transition: 0.8s ease-in-out;
}

/* NAVBAR */
.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
}

.links a{
  color:white;
  margin-right:15px;
  padding:8px 18px;
  border-radius:20px;
  cursor:pointer;
}

.links .WeatherApp{
  background:white;
  color:#0d47a1;
  font-size: 20px;
}

/* SEARCH */
.search-box{
  display:flex;
  background:white;
  border-radius:30px;
  overflow:hidden;
}

.search-box input{
  border:none;
  outline:none;
  padding:10px 15px;
  width:220px;
  font-size: 18px;
}

.search-box button{
  border:none;
  background:#0d47a1;
  color:white;
  width:45px;
  cursor:pointer;
}


/* CENTER */
.center{
  height:calc(100vh - 80px);
  display:flex;
  justify-content:center;
  align-items:center;
}

/* CARD */
.weather-card{
  background:#09294e;
  color:white;
  padding:30px;
  border-radius:20px;
  width:320px;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,0.3);
}

.city{
  opacity:.9;
  font-size: 20px;
}

.temp{
  font-size:60px;
  margin:10px 0;
}

.weather-icon{
  width:120px;
  margin:10px 0;
}

.desc{
  font-size:20px;
  margin-bottom:20px;
}

/* DETAILS */
.details{
  display:flex;
  justify-content:space-between;
}

.item span{
  font-weight:bold;
}

.item p{
  font-size:12px;
  opacity:.8;
}

@media (max-width: 600px){
    .nav{
    flex-direction: column;
    gap: 50px;
        }
}